# General
.DS_Store
*.log
tmp/
/dist/

# Go build artifacts
/services/backend/bin/
/services/backend/server
*.out
/services/backend/.gocache
/services/backend/.gobuild

# Node modules / build
/services/frontend/node_modules/
/services/frontend/.umi/
/services/frontend/dist/

# IDE/editor
.idea/
.vscode/
*.swp
